---
version: "3.8"
# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    restart: always
    image: pihole/pihole:{{ pihole_version }}
    hostname: pihole
    ports:
      - 53/tcp
      - 53/udp
      - 80/tcp
    environment:
      TZ: "America/Phoenix"
      WEBPASSWORD: "{{ pihole_password }}"
      FTLCONF_LOCAL_IPV4: "{{ ansible_ssh_host }}"
      PIHOLE_DNS_: "unbound#5335"
      DNSMASQ_LISTENING: "all"
    volumes:
      - "./etc-pihole:/etc/pihole"
      - "./etc-dnsmasq.d:/etc/dnsmasq.d"    
    networks:
      dns:

networks:
  dns:
    name: dns_network
    external: true
