---
version: "3.8"
services:
  unifi-controller:
    image: "lscr.io/linuxserver/unifi-controller:{{ unifi_version }}"
    container_name: unifi-controller
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - {{ unifi_dir }}:/config
    ports:
      - 8443:8443
      - 3478:3478/udp
      - 10001:10001/udp
      - 8080:8080
    restart: unless-stopped
